<a href="https://colab.research.google.com/github/kmilo95/SeminarioBigData/blob/main/Lab_2_PPvsSpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas vs Polars vs Spark vs Dask
[Author: Elias Buitrago Bolivar](https://github.com/ebuitrago?tab=repositories)

Inspired in: https://www.youtube.com/watch?v=mi9f9zOaqM8

Original data: Kaggle

This jupyter notebook is designed to study and compare different tools to read and manipulate data; to be used in the data undertanding phase. The corresponding explanations will be given directly in class, therefore the material isn't autoexplained. DonÂ´t forget ask me for the access to the data. And, please, give credits to the original author's idea and, if consider, also to me.

_Updated: June 20th, 2023_

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Playing with pandas

In [ ]:
import pandas as pd
flights_file1 = "/content/drive/MyDrive/Trabajos U/Seminario BigData/flights/Combined_Flights_2018.parquet"
#flights_file2 = "/content/drive/MyDrive/Trabajos U/Seminario BigData/flights/Combined_Flights_2019.parquet"
flights_file3 = "/content/drive/MyDrive/Trabajos U/Seminario BigData/flights/Combined_Flights_2020.parquet"
#flights_file4 = "/content/drive/MyDrive/Trabajos U/Seminario BigData/flights/Combined_Flights_2021.parquet"
#flights_file5 = "/content/drive/MyDrive/Trabajos U/Seminario BigData/flights/Combined_Flights_2022.parquet"

#flights_file2 = "/content/drive/MyDrive/data/flights/Combined_Flights_2019.parquet"
#flights_file3 = "/content/drive/MyDrive/data/flights/Combined_Flights_2020.parquet"
# flights_file4 = "/content/drive/MyDrive/data/flights/Combined_Flights_2021.parquet"
# flights_file5 = "/content/drive/MyDrive/data/flights/Combined_Flights_2022.parquet"
df1 = pd.read_parquet(flights_file1)
df2 = pd.read_parquet(flights_file3)
#df3 = pd.read_parquet(flights_file3)
#df4 = pd.read_parquet(flights_file4)
#df5 = pd.read_parquet(flights_file5)

In [ ]:
# %%timeit
df = pd.concat([df1, df2])
# df = df2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10711909 entries, 0 to 331237
Data columns (total 61 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   FlightDate                               datetime64[us]
 1   Airline                                  object
 2   Origin                                   object
 3   Dest                                     object
 4   Cancelled                                bool
 5   Diverted                                 bool
 6   CRSDepTime                               int64
 7   DepTime                                  float64
 8   DepDelayMinutes                          float64
 9   DepDelay                                 float64
 10  ArrTime                                  float64
 11  ArrDelayMinutes                          float64
 12  AirTime                                  float64
 13  CRSElapsedTime                           float64
 14  ActualElapsedTime                        float64
 15  Distance                                 float64
 16  Year                                     int64
 17  Quarter                                  int64
 18  Month                                    int64
 19  DayofMonth                               int64
 20  DayOfWeek                                int64
 21  Marketing_Airline_Network                object
 22  Operated_or_Branded_Code_Share_Partners  object
 23  DOT_ID_Marketing_Airline                 int64
 24  IATA_Code_Marketing_Airline              object
 25  Flight_Number_Marketing_Airline          int64
 26  Operating_Airline                        object
 27  DOT_ID_Operating_Airline                 int64
 28  IATA_Code_Operating_Airline              object
 29  Tail_Number                              object
 30  Flight_Number_Operating_Airline          int64
 31  OriginAirportID                          int64
 32  OriginAirportSeqID                       int64
 33  OriginCityMarketID                       int64
 34  OriginCityName                           object
 35  OriginState                              object
 36  OriginStateFips                          int64
 37  OriginStateName                          object
 38  OriginWac                                int64
 39  DestAirportID                            int64
 40  DestAirportSeqID                         int64
 41  DestCityMarketID                         int64
 42  DestCityName                             object
 43  DestState                                object
 44  DestStateFips                            int64
 45  DestStateName                            object
 46  DestWac                                  int64
 47  DepDel15                                 float64
 48  DepartureDelayGroups                     float64
 49  DepTimeBlk                               object
 50  TaxiOut                                  float64
 51  WheelsOff                                float64
 52  WheelsOn                                 float64
 53  TaxiIn                                   float64
 54  CRSArrTime                               int64
 55  ArrDelay                                 float64
 56  ArrDel15                                 float64
 57  ArrivalDelayGroups                       float64
 58  ArrTimeBlk                               object
 59  DistanceGroup                            int64
 60  DivAirportLandings                       float64
dtypes: bool(2), datetime64[us](1), float64(19), int64(22), object(17)
memory usage: 4.8+ GB

In [ ]:
len(df)

10711909

In [ ]:
# %%timeit

df_agg = df.groupby(['Airline','Year'])[["DepDelayMinutes", "ArrDelayMinutes"]].agg(
    ["mean", "sum", "max"]
)
df_agg = df_agg.reset_index()
df_agg.to_parquet("temp_pandas.parquet")

In [ ]:
!ls -GFlash temp_pandas.parquet

12K -rw-r--r-- 1 root 11K Jul  3 00:16 temp_pandas.parquet

In [ ]:
pd.read_parquet('temp_pandas.parquet')

                                      Airline  Year DepDelayMinutes  \
                                                               mean
0                 Air Wisconsin Airlines Corp  2018       16.753459
1                 Air Wisconsin Airlines Corp  2020        8.583725
2                        Alaska Airlines Inc.  2018        7.503389
3                        Alaska Airlines Inc.  2020        5.818328
4                               Allegiant Air  2018       17.080944
5                               Allegiant Air  2020       12.825575
6                      American Airlines Inc.  2018       13.141112
7                      American Airlines Inc.  2020        7.624477
8                                    Cape Air  2018        4.643761
9                 Capital Cargo International  2018       14.876462
10                Capital Cargo International  2020        7.665063
11                                Comair Inc.  2018       12.776783
12                                Comair Inc.  2020       10.068723
13  Commutair Aka Champlain Enterprises, Inc.  2018       28.243923
14  Commutair Aka Champlain Enterprises, Inc.  2020       12.266858
15                           Compass Airlines  2018       14.060415
16                           Compass Airlines  2020        8.215550
17                       Delta Air Lines Inc.  2018        8.538123
18                       Delta Air Lines Inc.  2020        5.581694
19                       Empire Airlines Inc.  2018       13.654324
20                       Empire Airlines Inc.  2020        6.861561
21                          Endeavor Air Inc.  2018       13.952577
22                          Endeavor Air Inc.  2020        5.653603
23                                  Envoy Air  2018       10.910172
24                                  Envoy Air  2020        6.685444
25                   ExpressJet Airlines Inc.  2018       16.544919
26                   ExpressJet Airlines Inc.  2020        6.396004
27                     Frontier Airlines Inc.  2018       23.029903
28                     Frontier Airlines Inc.  2020        7.398021
29   GoJet Airlines, LLC d/b/a United Express  2018       16.427071
30   GoJet Airlines, LLC d/b/a United Express  2020        8.309550
31                     Hawaiian Airlines Inc.  2018        5.011211
32                     Hawaiian Airlines Inc.  2020        3.592000
33                                Horizon Air  2018        7.285063
34                                Horizon Air  2020        4.849894
35                            JetBlue Airways  2018       19.670430
36                            JetBlue Airways  2020        8.213825
37                         Mesa Airlines Inc.  2018       15.128549
38                         Mesa Airlines Inc.  2020        9.662425
39                     Peninsula Airways Inc.  2018       14.184256
40                          Republic Airlines  2018       12.002701
41                          Republic Airlines  2020        5.224466
42                      SkyWest Airlines Inc.  2018       14.514365
43                      SkyWest Airlines Inc.  2020        8.671988
44                     Southwest Airlines Co.  2018       12.598293
45                     Southwest Airlines Co.  2020        4.116316
46                           Spirit Air Lines  2018       13.666850
47                           Spirit Air Lines  2020        7.809889
48                      Trans States Airlines  2018       21.379592
49                      Trans States Airlines  2020       13.739364
50                      United Air Lines Inc.  2018       13.614583
51                      United Air Lines Inc.  2020        6.925499
52                             Virgin America  2018       10.902274

                       ArrDelayMinutes
           sum     max            mean         sum     max
0    1606774.0  1296.0       17.881934   1708887.0  1292.0
1     433315.0  1460.0        8.982529    452450.0  1439.0
2    1374801.0   839.0        8.759125   1600336.0   842.0
3     772930.0   823.0        6.365082    843157.0   788.0
4    1630769.0  1462.0       17.547588   1670390.0  1505.0
5    1080016.0  1648.0       13.331111   1115734.0  1645.0
6    4993399.0  2109.0       14.225643   5387564.0  2153.0
7    4084097.0  3890.0        7.861155   4202644.0  3864.0
8       7704.0   430.0        5.390332      8921.0   446.0
9     625823.0   841.0       15.310871    640270.0   814.0
10    512969.0  1482.0        8.427212    561522.0  1470.0
11   1452158.0  1121.0       12.789146   1447872.0  1110.0
12   1798294.0  1919.0       10.686808   1903235.0  1888.0
13   1290832.0  1352.0       29.284076   1332689.0  1353.0
14    385670.0  1557.0       13.438158    421340.0  1555.0
15    629302.0  2625.0       14.836996    662917.0  2635.0
16    120670.0  1431.0        8.641498    126693.0  1412.0
17   3924514.0  1207.0        8.368956   3840012.0  1206.0
18   3083283.0  1195.0        6.209070   3424414.0  1193.0
19    115420.0   655.0       14.458483    120497.0   654.0
20     32613.0   274.0        7.028136     33222.0   272.0
21   1629061.0  1921.0       14.456739   1691424.0  1916.0
22   1156405.0  2579.0        5.877866   1200707.0  2560.0
23   1353516.0  1163.0       12.531226   1546817.0  1152.0
24   1339382.0  2248.0        8.417206   1682490.0  2238.0
25   2689873.0  1522.0       17.858140   2892215.0  1553.0
26    308249.0  1357.0        7.443095    357797.0  1338.0
27   2711702.0  1254.0       22.355794   2627320.0  1253.0
28    640062.0   645.0        7.330406    633479.0   638.0
29   1029156.0  1545.0       16.987283   1060635.0  1543.0
30    304786.0  1408.0        8.336411    305196.0  1382.0
31    418366.0  2482.0        5.944504    495623.0  2475.0
32    137491.0  1484.0        4.092661    156487.0  1481.0
33    613854.0   640.0        8.279781    694980.0   642.0
34    445133.0   775.0        5.351232    489932.0   758.0
35   5876305.0  1489.0       19.820096   5901592.0  1473.0
36   1118838.0  1135.0        8.503231   1155334.0  1153.0
37   2274532.0  1789.0       16.418326   2460122.0  1773.0
38   1236887.0  1890.0       10.344427   1320704.0  1884.0
39     16397.0   470.0       15.569902     17485.0   437.0
40   2377663.0  1270.0       13.293485   2624772.0  1346.0
41   1093533.0  1352.0        5.824160   1216865.0  1381.0
42   7611841.0  2098.0       15.656154   8173859.0  2108.0
43   4963057.0  2327.0        8.718970   4976457.0  2308.0
44  16812158.0   713.0       11.119075  14806261.0   698.0
45   3637115.0   602.0        3.372148   2975631.0   597.0
46   2385002.0  1527.0       14.241442   2479848.0  1527.0
47   1032194.0  1339.0        7.758486   1023290.0  1262.0
48   1389310.0  1519.0       22.335766   1444320.0  1537.0
49    235108.0  1390.0       14.784864    252008.0  1366.0
50   8398591.0  1431.0       14.477765   8902595.0  1429.0
51   1978518.0  1471.0        6.766355   1929514.0  1503.0
52    187977.0   520.0       11.950971    204995.0   504.0

In [ ]:
pd.read_parquet('temp_pandas.parquet').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   (Airline, )              53 non-null     object
 1   (Year, )                 53 non-null     int64
 2   (DepDelayMinutes, mean)  53 non-null     float64
 3   (DepDelayMinutes, sum)   53 non-null     float64
 4   (DepDelayMinutes, max)   53 non-null     float64
 5   (ArrDelayMinutes, mean)  53 non-null     float64
 6   (ArrDelayMinutes, sum)   53 non-null     float64
 7   (ArrDelayMinutes, max)   53 non-null     float64
dtypes: float64(6), int64(1), object(1)
memory usage: 3.4+ KB

## Playing with Polars

In [ ]:
import polars as pl

In [ ]:
flights_file1 = "/content/drive/MyDrive/data/flights/Combined_Flights_2018.parquet"
flights_file2 = "/content/drive/MyDrive/data/flights/Combined_Flights_2019.parquet"
flights_file3 = "/content/drive/MyDrive/data/flights/Combined_Flights_2020.parquet"
flights_file4 = "/content/drive/MyDrive/data/flights/Combined_Flights_2021.parquet"
flights_file5 = "/content/drive/MyDrive/data/flights/Combined_Flights_2022.parquet"
df1 = pl.scan_parquet(flights_file1)
df2 = pl.scan_parquet(flights_file2)
df3 = pl.scan_parquet(flights_file3)
df4 = pl.scan_parquet(flights_file4)
df5 = pl.scan_parquet(flights_file5)

In [ ]:
 %%timeit

df_polars = (
    pl.concat([df1, df2, df3, df4, df5])
    .groupby(['Airline', 'Year'])
    .agg([
        pl.col("DepDelayMinutes").mean().alias("avg_dep_delay"),
        pl.col("DepDelayMinutes").sum().alias("sum_dep_delay"),
        pl.col("DepDelayMinutes").max().alias("max_dep_delay"),
        pl.col("ArrDelayMinutes").mean().alias("avg_arr_delay"),
        pl.col("ArrDelayMinutes").sum().alias("sum_arr_delay"),
        pl.col("ArrDelayMinutes").max().alias("max_arr_delay"),
      ])
).collect()

df_polars.write_parquet('temp_polars.parquet')

6.19 s Â± 634 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [ ]:
!ls -GFlash temp_polars.parquet

8.0K -rw-r--r-- 1 root 6.4K Jun 19 20:07 temp_polars.parquet

## Playing with PySpark

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     âââââââââââââââââââââââââââââââââââââââ 310.8/310.8 MB 1.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=ba9ec23f7a096d2d5a7f29e6ba3fae3b6ecb9948c95145d0ad59d9da371e88fe
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, max, sum, concat

In [ ]:
spark = SparkSession.builder.master("local[1]").appName("airline-example").getOrCreate()

In [ ]:
flights_file1 = "/content/drive/MyDrive/data/flights/Combined_Flights_2018.parquet"
flights_file2 = "/content/drive/MyDrive/data/flights/Combined_Flights_2019.parquet"
flights_file3 = "/content/drive/MyDrive/data/flights/Combined_Flights_2020.parquet"
flights_file4 = "/content/drive/MyDrive/data/flights/Combined_Flights_2021.parquet"
flights_file5 = "/content/drive/MyDrive/data/flights/Combined_Flights_2022.parquet"

In [ ]:
df_spark1 = spark.read.parquet(flights_file1)
df_spark2 = spark.read.parquet(flights_file2)
df_spark3 = spark.read.parquet(flights_file3)
df_spark4 = spark.read.parquet(flights_file4)
df_spark5 = spark.read.parquet(flights_file5)

In [ ]:
df_spark = df_spark1.union(df_spark2)
df_spark = df_spark.union(df_spark3)
df_spark = df_spark.union(df_spark4)
df_spark = df_spark.union(df_spark5)

In [ ]:
 %%timeit

df_spark_agg = df_spark.groupby("Airline", "Year").agg(
    avg("ArrDelayMinutes").alias('avg_arr_delay'),
    sum("ArrDelayMinutes").alias('sum_arr_delay'),
    max("ArrDelayMinutes").alias('max_arr_delay'),
    avg("DepDelayMinutes").alias('avg_dep_delay'),
    sum("DepDelayMinutes").alias('sum_dep_delay'),
    max("DepDelayMinutes").alias('max_dep_delay'),
)
df_spark_agg.write.mode('overwrite').parquet('temp_spark.parquet')

5.86 s Â± 785 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [ ]:
!ls -GFlash temp_pyspark.parquet

total 24K
4.0K drwxr-xr-x 2 root 4.0K Jun 19 19:50 ./
4.0K drwxr-xr-x 1 root 4.0K Jun 19 20:08 ../
8.0K -rw-r--r-- 1 root 7.5K Jun 19 19:50 part-00000-d120adcf-cbd9-4950-a0e9-617fa7ca2c45-c000.snappy.parquet
4.0K -rw-r--r-- 1 root   68 Jun 19 19:50 .part-00000-d120adcf-cbd9-4950-a0e9-617fa7ca2c45-c000.snappy.parquet.crc
   0 -rw-r--r-- 1 root    0 Jun 19 19:50 _SUCCESS
4.0K -rw-r--r-- 1 root    8 Jun 19 19:50 ._SUCCESS.crc

## Playing with dask

In [ ]:
import pandas as pd
import dask.dataframe as dd
# flights_file1 = "/content/drive/MyDrive/data/flights/Combined_Flights_2018.parquet"
# flights_file2 = "/content/drive/MyDrive/data/flights/Combined_Flights_2019.parquet"
flights_file3 = "/content/drive/MyDrive/data/flights/Combined_Flights_2020.parquet"
# flights_file4 = "/content/drive/MyDrive/data/flights/Combined_Flights_2021.parquet"
flights_file5 = "/content/drive/MyDrive/data/flights/Combined_Flights_2022.parquet"
# df1 = dd.read_parquet(flights_file1)
# df2 = dd.read_parquet(flights_file2)
df3 = dd.read_parquet(flights_file3)
# df4 = dd.read_parquet(flights_file4)
df5 = dd.read_parquet(flights_file5)

In [ ]:
df = dd.concat([df3, df5])

In [ ]:
print(df.compute())

       FlightDate            Airline Origin Dest  Cancelled  Diverted  \
0      2020-09-01        Comair Inc.    PHL  DAY      False     False
1      2020-09-02        Comair Inc.    PHL  DAY      False     False
2      2020-09-03        Comair Inc.    PHL  DAY      False     False
3      2020-09-04        Comair Inc.    PHL  DAY      False     False
4      2020-09-05        Comair Inc.    PHL  DAY      False     False
...           ...                ...    ...  ...        ...       ...
590537 2022-03-31  Republic Airlines    MSY  EWR      False      True
590538 2022-03-17  Republic Airlines    CLT  EWR       True     False
590539 2022-03-08  Republic Airlines    ALB  ORD      False     False
590540 2022-03-25  Republic Airlines    EWR  PIT      False      True
590541 2022-03-07  Republic Airlines    EWR  RDU      False      True

        CRSDepTime  DepTime  DepDelayMinutes  DepDelay  ...  WheelsOff  \
0             1905   1858.0              0.0      -7.0  ...     1914.0
1             1905   1858.0              0.0      -7.0  ...     1914.0
2             1905   1855.0              0.0     -10.0  ...     2000.0
3             1905   1857.0              0.0      -8.0  ...     1910.0
4             1905   1856.0              0.0      -9.0  ...     1910.0
...            ...      ...              ...       ...  ...        ...
590537        1949   2014.0             25.0      25.0  ...     2031.0
590538        1733   1817.0             44.0      44.0  ...        NaN
590539        1700   2318.0            378.0     378.0  ...     2337.0
590540        2129   2322.0            113.0     113.0  ...     2347.0
590541        1154   1148.0              0.0      -6.0  ...     1201.0

        WheelsOn  TaxiIn  CRSArrTime  ArrDelay  ArrDel15  ArrivalDelayGroups  \
0         2030.0     4.0        2056     -22.0       0.0                -2.0
1         2022.0     5.0        2056     -29.0       0.0                -2.0
2         2117.0     5.0        2056      26.0       1.0                 1.0
3         2023.0     4.0        2056     -29.0       0.0                -2.0
4         2022.0     4.0        2056     -30.0       0.0                -2.0
...          ...     ...         ...       ...       ...                 ...
590537     202.0    32.0        2354       NaN       NaN                 NaN
590538       NaN     NaN        1942       NaN       NaN                 NaN
590539      52.0     7.0        1838     381.0       1.0                12.0
590540     933.0     6.0        2255       NaN       NaN                 NaN
590541    1552.0     4.0        1333       NaN       NaN                 NaN

        ArrTimeBlk  DistanceGroup  DivAirportLandings
0        2000-2059              2                 0.0
1        2000-2059              2                 0.0
2        2000-2059              2                 0.0
3        2000-2059              2                 0.0
4        2000-2059              2                 0.0
...            ...            ...                 ...
590537   2300-2359              5                 1.0
590538   1900-1959              3                 0.0
590539   1800-1859              3                 0.0
590540   2200-2259              2                 1.0
590541   1300-1359              2                 1.0

[9100715 rows x 61 columns]

In [ ]:
df = df.compute()

In [ ]:
# %%timeit

df_agg = df.groupby(['Airline','Year'])[["DepDelayMinutes", "ArrDelayMinutes"]].agg(
    ["mean", "sum", "max"]
)
df_agg = df_agg.reset_index()
df_agg.to_parquet("temp_dask.parquet")

In [ ]:
!ls -GFlash temp_pandas.parquet

In [ ]:
pd.read_parquet('temp_dask.parquet').info()

In [ ]:
pd.read_parquet('temp_dask.parquet')

## Read Results

In [ ]:
import pandas as pd

In [ ]:
agg_pandas = pd.read_parquet('temp_pandas.parquet')
agg_polars = pd.read_parquet('temp_polars.parquet')
agg_spark = pd.read_parquet('temp_spark.parquet')
agg_dask = pd.read_parquet('temp_dask.parquet')

In [ ]:
agg_pandas.shape, agg_polars.shape, agg_spark.shape, agg_dask.shape

((26, 8), (122, 8), (122, 8), (26, 8))

In [ ]:
agg_pandas.sort_values(['Airline','Year']).head()

                       Airline  Year DepDelayMinutes                      \
                                                mean         sum     max
0  Air Wisconsin Airlines Corp  2019       16.868511   1742281.0  1690.0
1         Alaska Airlines Inc.  2019        9.836041   2576246.0  1117.0
2                Allegiant Air  2019       14.678433   1536876.0  1979.0
3       American Airlines Inc.  2019       14.895515  13814816.0  2315.0
4  Capital Cargo International  2019       11.525332   1367642.0  1182.0

  ArrDelayMinutes
             mean         sum     max
0       17.610384   1811545.0  1707.0
1       10.787284   2815643.0  1087.0
2       15.556524   1624770.0  1966.0
3       15.251863  14096412.0  2350.0
4       12.489465   1474806.0  1190.0

In [ ]:
agg_polars.sort_values(['Airline','Year']).head()

,Airline,Year,avg_dep_delay,sum_dep_delay,max_dep_delay,avg_arr_delay,sum_arr_delay,max_arr_delay
28,Air Wisconsin Airlines Corp,2018,16.753459,1606774.0,1296.0,17.881934,1708887.0,1292.0
54,Air Wisconsin Airlines Corp,2019,16.868511,1742281.0,1690.0,17.610384,1811545.0,1707.0
106,Air Wisconsin Airlines Corp,2020,8.583725,433315.0,1460.0,8.982529,452450.0,1439.0
6,Air Wisconsin Airlines Corp,2021,16.553045,1290194.0,1421.0,17.327440,1346602.0,1416.0
67,Air Wisconsin Airlines Corp,2022,13.124801,510581.0,1355.0,13.340409,517261.0,1353.0

In [ ]:
agg_spark.sort_values(['Airline','Year']).head()

,Airline,Year,avg_arr_delay,sum_arr_delay,max_arr_delay,avg_dep_delay,sum_dep_delay,max_dep_delay
0,Air Wisconsin Airlines Corp,2018,17.881934,1708887.0,1292.0,16.753459,1606774.0,1296.0
48,Air Wisconsin Airlines Corp,2019,17.610384,1811545.0,1707.0,16.868511,1742281.0,1690.0
56,Air Wisconsin Airlines Corp,2020,8.982529,452450.0,1439.0,8.583725,433315.0,1460.0
93,Air Wisconsin Airlines Corp,2021,17.327440,1346602.0,1416.0,16.553045,1290194.0,1421.0
119,Air Wisconsin Airlines Corp,2022,13.340409,517261.0,1353.0,13.124801,510581.0,1355.0

In [ ]:
agg_dask.sort_values(['Airline','Year']).head()

                       Airline  Year DepDelayMinutes                      \
                                                mean         sum     max
0  Air Wisconsin Airlines Corp  2019       16.868511   1742281.0  1690.0
1         Alaska Airlines Inc.  2019        9.836041   2576246.0  1117.0
2                Allegiant Air  2019       14.678433   1536876.0  1979.0
3       American Airlines Inc.  2019       14.895515  13814816.0  2315.0
4  Capital Cargo International  2019       11.525332   1367642.0  1182.0

  ArrDelayMinutes
             mean         sum     max
0       17.610384   1811545.0  1707.0
1       10.787284   2815643.0  1087.0
2       15.556524   1624770.0  1966.0
3       15.251863  14096412.0  2350.0
4       12.489465   1474806.0  1190.0